@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Jasmine Spec Runner</title>

    <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
    <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
    <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>
    <script type="text/javascript" src="/Scripts/jasmine/boot.js"></script>
    <script type="text/javascript" src="/Scripts/angular.js"> </script>
    <script type="text/javascript" src="/Scripts/angular-mocks.js" ></script>
    <script type="text/javascript" src="/Scripts/angular-route.js"></script>


    <!-- include source files here... -->
    <script type="text/javascript" src="/Angular/app.js"></script>
    <script type="text/javascript" src="/Angular/Expense/Expense.js"></script>
    <script type="text/javascript" src="/Angular/Expense/ExpenseItem.js"></script>
    <script type="text/javascript" src="/Angular/Expense/expensesController.js"></script>

    <!-- include spec files here... -->
    <script type="text/javascript" src="/Angular/tests/ExpenseSpec.js"></script>
    <script type="text/javascript" src="/Angular/tests/expensesContorller.spec.js"></script>

</head>

<body>
</body>
</html>
